<% book.post_comments.each do |post_comment| %>
  <tr>
    <td>
      <%= image_tag post_comment.user.get_profile_image, size:"100x100" %><br>
      <%= link_to post_comment.user.name, user_path(post_comment.user.id) %>
    </td>
    <td>
      <%= post_comment.comment %>
      <% if post_comment.user == current_user %>
        <%= link_to 'Destroy', book_post_comment_path(book, post_comment), method: :delete, class: "btn btn-sm btn-danger", remote: true %>
      <% end %>
    </td>
  </tr>
<% end %>