<div class="container">
  <h3 class="margin_top text_center">送信が完了しました</h3>
  <div class="main_width">
    <div class="margin_top">内容は以下の通りです。</div>
    <div class="small_margin_top">
      [タイトル]
      <p class="font_weight_bold"><%= @mail.title %></p>
    </div>
    <div>
      [本文]
      <p class="font_weight_bold"><%= safe_join(@mail_content.split("\n"),tag(:br)) %></p>
    </div>
  </div>
</div>