<h2> @user.name さんとのチャット</h2>
<% @messages.each do |message| %>
  <%= message.message %>
<% end %>
<%= form_with model: @message do |f| %>
  <%= f.text_field :message %>
  <%= f.hidden_field :room_id, value: @room.id%>
<% end %>